fastapi==0.115.4
uvicorn==0.32.0
websockets==13.1
python-multipart==0.0.16
ttsmms==0.7
soundfile==0.12.1
pydub==0.25.1
SpeechRecognition==3.11.0
PyAudio==0.2.14
torch>=1.10.0
transformers>=4.20.0
numpy>=1.21.0
scipy>=1.7.0
huggingface-hub>=0.0.12
